header {
    background-color: #444667;
    border-radius: 20px 20px 0 0;
    padding-bottom: 15px;
}
.picDiv{
    background-image: url('https://picsum.photos/200/300');
    background-repeat: no-repeat;
    background-size: cover;
}
